@use "../../partials/colors" as*;
@use "../../partials/breakpoints" as*;

.weekly-announcement {
    width: 100%;
    color: $wine-red;
    border-radius: 35px;

    @include desktop {
        max-width: 80rem;
        margin: 0 auto;
        // -webkit-box-shadow: 0px 0px 26px -6px rgba(111, 11, 32, 0.51);
        // -moz-box-shadow: 0px 0px 26px -6px rgba(111, 11, 32, 0.51);
        // box-shadow: 0px 0px 26px -6px rgba(111, 11, 32, 0.51);
    }

    &__title {
        text-align: center;
        font-size: 1.25rem;
        color: $wine-red;
        background-color: $golden-semi;
        margin: 0 auto;
        padding-top: 1rem;

        @include tablet {
            font-size: 1.5rem;
        }
    }

    &__content {
        margin: 0 auto;
        overflow-x: hidden;
        background-color: $golden-semi;
        color: $wine-red;
    }
}