@use "../../partials/colors" as*;
@use "../../partials/breakpoints" as*;

.priest-bio {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    color: $wine-red;
    max-width: 80rem;
    margin: 0 auto;

    @include desktop {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 2rem;
    }

    &__bio {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background-color: $golden;
        padding: 1rem 2rem;
    }

    &__documents {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

}