@use "../../partials/colors" as*;
@use "../../partials/breakpoints" as*;

.home {
    &__section {
        text-align: center;

        @include desktop {
            margin: 2rem 0;
        }
    }

    &__heading {
        color: $wine-red;
        padding: 1rem 1.5rem;
        width: 100%;
        font-size: 1.1rem;
        border-bottom: 4px solid $wine-red;

        @include tablet {
            font-size: 1.3rem;
        }

        @include desktop {
            max-width: 50rem;
            margin: 0 auto;
            font-size: 1.5rem;
            box-shadow: none;
        }
    }
}