@use "../../partials/colors" as*;
@use "../../partials/breakpoints" as*;

.nav {
    padding: 1rem;
    color: $wine-red;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    &__toggle {
        background: none;
        border: none;
        cursor: pointer;
        display: block;

        @include desktop {
            display: none;
        }
    }

    &__menu {
        list-style: none;
        padding: 0;
        margin: 0;
        display: none;
        flex-direction: column;
        text-align: center;

        &--open {
            display: flex;
            position: absolute;
            background-color: $beige;
            z-index: 1;
            top: 2rem;
            right: 0;
            min-width: 9.375rem;
            background-color: $beige;
            border: 2px solid $wine-red;
            border-top: 1rem solid $wine-red;
        }

        @include desktop {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            position: static;
            border: none;
        }

    }

    &__button {
        background-color: transparent;
        border: none;
    }

    &__icon {
        width: 1.5rem;

        @include tablet {
            width: 2rem;
        }

        @include tiny-mobile {
            width: 1.25rem;
        }
    }

    &__item {
        padding: .5rem 0;
    }

    &__link {
        text-decoration: none;
        font-size: .85rem;
        color: $wine-red;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        padding: .3rem .5rem;


        &:hover {
            border-bottom: 1px solid $wine-red;
            scale: 1.1;
        }

        &.active {
            scale: 1.1;
            width: 100%;
            font-weight: bold;
            border-bottom: 1px solid $wine-red;
        }

    }
}